<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyf.lf.mapper.CmsUserRoleMapper">
	<!--开启二级缓存-->


	<resultMap id="BaseResultMap" type="com.zyf.lf.models.entity.CmsUserRole">
		<id column="user_role_id" property="userRoleId" />
		<result column="role_id" property="roleId" />
		<result column="user_id" property="userId" />
		<result column="create_time" property="createTime" />
		<result column="create_by" property="createBy" />
	</resultMap>

    <!--通用查询结果列-->
    <sql id="Base_Column_List">
        user_role_id AS userRoleId, role_id AS roleId, user_id AS userId, create_time AS createTime, create_by AS createBy
    </sql>
</mapper>
