<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyf.lf.mapper.OsNavigationBarMapper">
	<!--开启二级缓存-->


	<resultMap id="BaseResultMap" type="com.zyf.lf.models.entity.OsNavigationBar">
		<id column="navigation_bar_id" property="navigationBarId" />
		<result column="navigation_id" property="navigationId" />
		<result column="name" property="name" />
		<result column="target" property="target" />
		<result column="sort" property="sort" />
		<result column="href" property="href" />
		<result column="status" property="status" />
		<result column="create_time" property="createTime" />
		<result column="create_by" property="createBy" />
		<result column="update_time" property="updateTime" />
		<result column="update_by" property="updateBy" />
		<result column="remarks" property="remarks" />
	</resultMap>

    <!--通用查询结果列-->
    <sql id="Base_Column_List">
        navigation_bar_id AS navigationBarId, navigation_id AS navigationId, name, target, sort, href, status, create_time AS createTime, create_by AS createBy, update_time AS updateTime, update_by AS updateBy, remarks
    </sql>
</mapper>
