<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyf.lf.mapper.OsProductRecommendMapper">
	<!--开启二级缓存-->


	<resultMap id="BaseResultMap" type="com.zyf.lf.models.entity.OsProductRecommend">
		<id column="recommend_product_id" property="recommendProductId" />
		<result column="recommend_id" property="recommendId" />
		<result column="product_id" property="productId" />
		<result column="sort" property="sort" />
		<result column="status" property="status" />
		<result column="begin_time" property="beginTime" />
		<result column="end_time" property="endTime" />
		<result column="create_time" property="createTime" />
		<result column="create_by" property="createBy" />
		<result column="update_time" property="updateTime" />
		<result column="update_by" property="updateBy" />
	</resultMap>

    <!--通用查询结果列-->
    <sql id="Base_Column_List">
        recommend_product_id AS recommendProductId, recommend_id AS recommendId, product_id AS productId, sort, status, begin_time AS beginTime, end_time AS endTime, create_time AS createTime, create_by AS createBy, update_time AS updateTime, update_by AS updateBy
    </sql>
</mapper>
